}
#menu li {
  display: inline-bine;
  float:none;
  border:1px solid black;
  text-sign: center;
  border-radius: 10px 10px 10px 10px;

}

}
#menu li {
  display: inline-bine;
  float:none;
  border:1px solid black;
  text-sign: center;
  border-radius: 10px 10px 10px 10px;

}
